<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Sentinel{% endblock %}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<header class="navbar">

    <div class="logo">

        <h2>🛡️ Sentinel</h2>

        <span>Machine Learning Login Anomaly Detection</span>

    </div>

    {% if current_user.is_authenticated %}

    <nav>

        <a href="{{ url_for('dashboard') }}">
            Dashboard
        </a>

        <a href="{{ url_for('admin_dashboard') }}">
            Admin
        </a>

        <a href="{{ url_for('logout') }}" class="logout-btn">
            Logout
        </a>

    </nav>

    {% endif %}

</header>

<main class="main-content">

    {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}

            {% for category, message in messages %}

                <div class="flash {{ category }}">

                    {{ message }}

                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}

    {% block content %}
    {% endblock %}

</main>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>